In [81]:
from scipy.io import arff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [62]:
steel_data = arff.loadarff('steel.arff')
df1 = pd.DataFrame(steel_data[0])

In [69]:
ionos_data = arff.loadarff('ionos.arff')
df2 = pd.DataFrame(ionos_data[0])
df2.rename(columns = {'class':'Class'}, inplace = True)

In [64]:
banknote_data = arff.loadarff('banknote.arff')
df3 = pd.DataFrame(banknote_data[0])

In [70]:
df2.head()

,a01,a02,a03,a04,a05,a06,a07,a08,a09,a10,...,a26,a27,a28,a29,a30,a31,a32,a33,a34,Class
0,1.0,0.0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,b'g'
1,1.0,0.0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b'b'
2,1.0,0.0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,b'g'
3,1.0,0.0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b'b'
4,1.0,0.0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,b'g'

In [84]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder

dataframes = [df1, df2, df3]
parameter = [1,2,3,4,5]

for i in parameter:
    for j, df in enumerate(dataframes):
        print(f"Processing DataFrame {j+1}")
        
        # Preprocess the data (if needed)
        # For example, if there are categorical features, you can encode them using LabelEncoder
        label_encoder = LabelEncoder()
        for column in df.columns:
            if df[column].dtype == 'object':
                df[column] = label_encoder.fit_transform(df[column])

        # Split the data into training and test sets
        X = df.drop(columns='Class')  # Replace 'class_column' with the name of your class/target column
        y = df['Class']

        X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=0)

        # Create and train the KNN classifier
        knn = KNeighborsClassifier(n_neighbors=i)  # Replace '3' with the desired number of neighbors (k)
        knn.fit(X_train, y_train)

        # Evaluate the classifier on the test set
        accuracy = knn.score(X_test, y_test)
        print(f'KNN Accuracy for DataFrame {j+1} with k = {i}: {accuracy:.2f}')

Processing DataFrame 1
KNN Accuracy for DataFrame 1 with k = 1: 0.60
Processing DataFrame 2
KNN Accuracy for DataFrame 2 with k = 1: 0.82
Processing DataFrame 3
KNN Accuracy for DataFrame 3 with k = 1: 1.00
Processing DataFrame 1
KNN Accuracy for DataFrame 1 with k = 2: 0.63
Processing DataFrame 2
KNN Accuracy for DataFrame 2 with k = 2: 0.86
Processing DataFrame 3
KNN Accuracy for DataFrame 3 with k = 2: 1.00
Processing DataFrame 1
KNN Accuracy for DataFrame 1 with k = 3: 0.62
Processing DataFrame 2
KNN Accuracy for DataFrame 2 with k = 3: 0.81
Processing DataFrame 3
KNN Accuracy for DataFrame 3 with k = 3: 1.00
Processing DataFrame 1
KNN Accuracy for DataFrame 1 with k = 4: 0.63
Processing DataFrame 2
KNN Accuracy for DataFrame 2 with k = 4: 0.84
Processing DataFrame 3
KNN Accuracy for DataFrame 3 with k = 4: 1.00
Processing DataFrame 1
KNN Accuracy for DataFrame 1 with k = 5: 0.62
Processing DataFrame 2
KNN Accuracy for DataFrame 2 with k = 5: 0.80
Processing DataFrame 3
KNN Accuracy for DataFrame 3 with k = 5: 1.00

In [ ]:
#KNN, setting k - "n_neighbors" 
from sklearn.neighbors import KNeighborsClassifier
neigh = KNeighborsClassifier(n_neighbors=3)#, weights="distance")# by default-"uniform"
neigh.fit(ta_x, ta_y)